## import library & load Data

In [1]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

Mounted at /content/drive

In [2]:
df = pd.read_pickle('/content/drive/MyDrive/문화관광 빅데이터 공모전/전처리/total_data.pkl')

In [3]:
# 관광 , 휴양 여행 경험하지 않은 데이터 제거
df = df[(df['MON_EXP_1']=='예') | (df['MON_EXP_2']=='예')].reset_index(drop=True)

## 1 ~ 6차 여행 concat
+ 연령대별로
+ 지역 별 인당 지출 액, 평균 숙박 일 수, 여행객 수

In [4]:
# 2. 여행 1차 ~ 6차 concat 시키기
# D_TRA1_CASE : 여행형태
# D_TRA1_1_SPOT : 여행지역
# D_TRA1_ONE_COST : 인당 비용
# WT_DOM : 가중치 -> 모집단에 대한 표본조사 가중치로 여행객 수에 곱함
# BAGE : 연령대
col_tra1 = ['ID'] + ['D_TRA1_CASE', 'D_TRA1_1_SPOT','D_TRA1_ONE_COST', 'WT_DOM', 'BAGE']
tra1 = df[col_tra1]
tra1

,ID,D_TRA1_CASE,D_TRA1_1_SPOT,D_TRA1_ONE_COST,WT_DOM,BAGE
0,11010550211_277569,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 삼척시,160000.0,50401.776540,15~19세
1,11010550211_277572,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",제주특별자치도 서귀포시,1000000.0,98458.630392,30대
2,11010550211_277588,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 강릉시,133333.0,14950.249479,30대
3,11010550211_277594,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 강릉시,200001.0,12522.925376,50대
4,11010550211_277596,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 춘천시,50000.0,17396.680633,40대
...,...,...,...,...,...,...
21647,3902059082A_428690,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",제주특별자치도 제주시,150000.0,3406.506288,30대
21648,3902059082A_428729,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",서울특별시 구로구,200000.0,4630.513230,50대
21649,3902059083A_580645,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",제주특별자치도 제주시,20000.0,3984.742345,50대
21650,3902059083A_580647,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",제주특별자치도 제주시,40000.0,3629.251100,50대
21651,3902059083A_580914,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",제주특별자치도 제주시,40000.0,2316.305155,40대

In [5]:
# 2차 여행 관련 컬럼 뽑고 데이터프레임 생성
col_tra2 = ['ID'] + ['D_TRA2_CASE', 'D_TRA2_1_SPOT','D_TRA2_ONE_COST','WT_DOM', 'BAGE']
tra2 = df[col_tra2]

# 3차 여행 관련 컬럼 뽑고 데이터프레임 생성
col_tra3 = ['ID'] + ['D_TRA3_CASE', 'D_TRA3_1_SPOT','D_TRA3_ONE_COST', 'WT_DOM', 'BAGE']
tra3 = df[col_tra3]

# 4차 여행 관련 컬럼 뽑고 데이터프레임 생성
col_tra4 = ['ID'] + ['D_TRA4_CASE', 'D_TRA4_1_SPOT','D_TRA4_ONE_COST', 'WT_DOM', 'BAGE']
tra4 =df[col_tra4]

# 5차 여행 관련 컬럼 뽑고 데이터프레임 생성
col_tra5 = ['ID'] + ['D_TRA5_CASE', 'D_TRA5_1_SPOT','D_TRA5_ONE_COST','WT_DOM', 'BAGE']
tra5 = df[col_tra5]

# 6차 여행 관련 컬럼 뽑고 데이터프레임 생성
col_tra6 = ['ID'] + ['D_TRA6_CASE', 'D_TRA6_1_SPOT','D_TRA6_ONE_COST','WT_DOM', 'BAGE']
tra6 = df[col_tra6]

In [6]:
print(tra1.shape)
print(tra2.shape)
print(tra3.shape)
print(tra4.shape)
print(tra5.shape)
print(tra6.shape)

(21652, 6)
(21652, 6)
(21652, 6)
(21652, 6)
(21652, 6)
(21652, 6)

In [7]:
column_name = tra1.columns.tolist()

In [8]:
# concat을 위해 컬럼명 우선 일치시키기
tra1.columns = [list(range(6))]
tra2.columns = [list(range(6))]
tra3.columns = [list(range(6))]
tra4.columns = [list(range(6))]
tra5.columns = [list(range(6))]
tra6.columns = [list(range(6))]

In [9]:
concat_df = pd.concat([tra1, tra2, tra3, tra4, tra5, tra6], ignore_index=True)

In [10]:
# 열 이름 변경
concat_df.columns = ['ID', '여행형태', '지역', '인당비용', '가중치', '연령대']

In [11]:
concat_df

,ID,여행형태,지역,인당비용,가중치,연령대
0,11010550211_277569,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 삼척시,160000.0,50401.776540,15~19세
1,11010550211_277572,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",제주특별자치도 서귀포시,1000000.0,98458.630392,30대
2,11010550211_277588,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 강릉시,133333.0,14950.249479,30대
3,11010550211_277594,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 강릉시,200001.0,12522.925376,50대
4,11010550211_277596,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 춘천시,50000.0,17396.680633,40대
...,...,...,...,...,...,...
129907,3902059082A_428690,NaN,NaN,NaN,3406.506288,30대
129908,3902059082A_428729,NaN,NaN,NaN,4630.513230,50대
129909,3902059083A_580645,NaN,NaN,NaN,3984.742345,50대
129910,3902059083A_580647,NaN,NaN,NaN,3629.251100,50대
129911,3902059083A_580914,NaN,NaN,NaN,2316.305155,40대

In [12]:
# 여행형태 정보가 NULL 인 행 제거
concat_df = concat_df[concat_df.iloc[:,1].notnull()].reset_index(drop=True)
concat_df

,ID,여행형태,지역,인당비용,가중치,연령대
0,11010550211_277569,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 삼척시,160000.0,50401.776540,15~19세
1,11010550211_277572,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",제주특별자치도 서귀포시,1000000.0,98458.630392,30대
2,11010550211_277588,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 강릉시,133333.0,14950.249479,30대
3,11010550211_277594,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 강릉시,200001.0,12522.925376,50대
4,11010550211_277596,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 춘천시,50000.0,17396.680633,40대
...,...,...,...,...,...,...
22942,37040510351_375069,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",경상북도 성주군,60000.0,8324.011291,50대
22943,2901062095A_286814,국내 단순 가족/친지/친구 방문 - 관광/휴양 활동이 포함되지 않음,인천광역시 부평구,150000.0,2355.545332,20대
22944,3103066323A_514924,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",충청북도 제천시,90000.0,12819.854123,50대
22945,3333011099A_353575,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",충청남도 서천군,50000.0,5040.763942,50대
22946,37020121491_298787,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",경상북도 영천시,13333.0,7885.212816,60대

In [14]:
# 관광 휴양 여행 아닌 행 제거
concat_df = concat_df[(concat_df['여행형태'] == '국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)') | (concat_df['여행형태'] == '국내 가족/친지/친구 방문 여행 - 관광/휴양 활동 포함') |  (concat_df['여행형태'] == '국내 출장/업무 여행 - 관광/휴양 활동 포함') ].reset_index(drop=True)
concat_df

,ID,여행형태,지역,인당비용,가중치,연령대
0,11010550211_277569,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 삼척시,160000.0,50401.776540,15~19세
1,11010550211_277572,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",제주특별자치도 서귀포시,1000000.0,98458.630392,30대
2,11010550211_277588,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 강릉시,133333.0,14950.249479,30대
3,11010550211_277594,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 강릉시,200001.0,12522.925376,50대
4,11010550211_277596,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 춘천시,50000.0,17396.680633,40대
...,...,...,...,...,...,...
22222,37020121491_298787,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",경상북도 청송군,16667.0,7885.212816,60대
22223,37040510351_375069,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",경상북도 성주군,60000.0,8324.011291,50대
22224,3103066323A_514924,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",충청북도 제천시,90000.0,12819.854123,50대
22225,3333011099A_353575,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",충청남도 서천군,50000.0,5040.763942,50대
22226,37020121491_298787,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",경상북도 영천시,13333.0,7885.212816,60대

In [15]:
# 여행 형태와 ID 열 제거
data = concat_df.iloc[:,2:]
data

                 지역       인당비용           가중치       연령대
0           강원도 삼척시   160000.0  50401.776540    15~19세
1      제주특별자치도 서귀포시  1000000.0  98458.630392       30대
2           강원도 강릉시   133333.0  14950.249479       30대
3           강원도 강릉시   200001.0  12522.925376       50대
4           강원도 춘천시    50000.0  17396.680633       40대
...             ...        ...           ...       ...
22222      경상북도 청송군    16667.0   7885.212816       60대
22223      경상북도 성주군    60000.0   8324.011291       50대
22224      충청북도 제천시    90000.0  12819.854123       50대
22225      충청남도 서천군    50000.0   5040.763942       50대
22226      경상북도 영천시    13333.0   7885.212816       60대

[22227 rows x 4 columns]

## 지역 중 농촌 관광지 지역에 포함되는 지역만 필터링

In [16]:
df = pd.read_pickle('/content/drive/MyDrive/문화관광 빅데이터 공모전/대참사/농촌관광지df생성.pkl')

In [17]:
시군구_농촌 = df['관광지역_시군구'].values.tolist()

In [18]:
for idx in range(len(data['지역'])):
  if len(data['지역'][idx].split(" ")[0]) != 4:
    data['지역'][idx] = data['지역'][idx].split(" ")[0][0:2] + " " + data['지역'][idx].split(" ")[1]
  else:
    data['지역'][idx] = data['지역'][idx].split(" ")[0][0] + data['지역'][idx].split(" ")[0][2] + " " + data['지역'][idx].split(" ")[1]

<ipython-input-18-33ca62c64a88>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['지역'][idx] = data['지역'][idx].split(" ")[0][0:2] + " " + data['지역'][idx].split(" ")[1]
<ipython-input-18-33ca62c64a88>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['지역'][idx] = data['지역'][idx].split(" ")[0][0] + data['지역'][idx].split(" ")[0][2] + " " + data['지역'][idx].split(" ")[1]

In [19]:
data_농촌 = data[data['지역'].isin(시군구_농촌)].reset_index(drop = True)

In [20]:
data_농촌

            지역       인당비용           가중치       연령대
0       강원 삼척시   160000.0  50401.776540    15~19세
1      제주 서귀포시  1000000.0  98458.630392       30대
2       강원 강릉시   133333.0  14950.249479       30대
3       강원 강릉시   200001.0  12522.925376       50대
4       강원 춘천시    50000.0  17396.680633       40대
...        ...        ...           ...       ...
17900   경북 청송군    16667.0   7885.212816       60대
17901   경북 성주군    60000.0   8324.011291       50대
17902   충북 제천시    90000.0  12819.854123       50대
17903   충남 서천군    50000.0   5040.763942       50대
17904   경북 영천시    13333.0   7885.212816       60대

[17905 rows x 4 columns]

In [21]:
data_농촌['연령대'].unique()

['  15~19세', '  30대', '  50대', '  40대', '  60대', '  20대', '  70세이상']
Categories (7, object): ['  15~19세', '  20대', '  30대', '  40대', '  50대', '  60대', '  70세이상']

## 연령대별로 데이터프레임 만들기

In [22]:
data_농촌20 = data_농촌[data_농촌['연령대'] == '  20대'].reset_index(drop = True)
data_농촌30 = data_농촌[data_농촌['연령대'] == '  30대'].reset_index(drop = True)
data_농촌40 = data_농촌[data_농촌['연령대'] == '  40대'].reset_index(drop = True)
data_농촌50 = data_농촌[data_농촌['연령대'] == '  50대'].reset_index(drop = True)
data_농촌60 = data_농촌[(data_농촌['연령대'] == '  60대') | (data_농촌['연령대'] == '  70세이상')].reset_index(drop = True)

In [23]:
data_농촌20

          지역      인당비용           가중치    연령대
0     전북 전주시  100000.0  12740.803035    20대
1     경기 가평군   52500.0  20333.836962    20대
2     강원 철원군   40000.0  23596.854824    20대
3     경기 여주시   38000.0  22867.470936    20대
4     경기 가평군   72500.0  22779.003054    20대
...      ...       ...           ...    ...
2868  경북 포항시   40000.0  11315.622573    20대
2869  강원 삼척시   60000.0   6015.294611    20대
2870  제주 제주시   80000.0  11897.885407    20대
2871  충남 보령시  100000.0   2355.545332    20대
2872  경북 울진군  100000.0   1544.350817    20대

[2873 rows x 4 columns]

## 집계 함수를 통해 연령대별 지역별 데이터프레임 생성

### 여행객 수

In [24]:
data_농촌20

          지역      인당비용           가중치    연령대
0     전북 전주시  100000.0  12740.803035    20대
1     경기 가평군   52500.0  20333.836962    20대
2     강원 철원군   40000.0  23596.854824    20대
3     경기 여주시   38000.0  22867.470936    20대
4     경기 가평군   72500.0  22779.003054    20대
...      ...       ...           ...    ...
2868  경북 포항시   40000.0  11315.622573    20대
2869  강원 삼척시   60000.0   6015.294611    20대
2870  제주 제주시   80000.0  11897.885407    20대
2871  충남 보령시  100000.0   2355.545332    20대
2872  경북 울진군  100000.0   1544.350817    20대

[2873 rows x 4 columns]

In [25]:
지역별_여행객수 = pd.DataFrame(data_농촌20.groupby(['지역'])['가중치'].sum().round(1))
지역별_여행객수.columns = ['여행객수']
지역별_여행객수

             여행객수
지역
강원 강릉시  1791143.5
강원 고성군   116328.5
강원 동해시   179791.4
강원 삼척시   255694.1
강원 속초시   781308.3
...           ...
충북 제천시   223890.9
충북 증평군    12774.2
충북 진천군    11648.5
충북 청주시   156344.0
충북 충주시    86581.3

[136 rows x 1 columns]

### 평균인당비용

In [28]:
지역별_평균인당비용 = pd.DataFrame(data_농촌20.groupby(['지역'])['인당비용'].agg(lambda x: int(x.mean())))
지역별_평균인당비용.columns = ['평균인당비용']
지역별_평균인당비용

        평균인당비용
지역
강원 강릉시  181012
강원 고성군  185983
강원 동해시  150166
강원 삼척시  178133
강원 속초시  175561
...        ...
충북 제천시  107557
충북 증평군  125000
충북 진천군   87500
충북 청주시   81586
충북 충주시   70442

[136 rows x 1 columns]

### 20대 데이터합치기
+ 지역별 / 숙박비율, 평균인당비용, 여행객수

In [29]:
국민여행조사_data20 = pd.concat([지역별_평균인당비용,지역별_여행객수], axis = 1)
국민여행조사_data20

        평균인당비용       여행객수
지역
강원 강릉시  181012  1791143.5
강원 고성군  185983   116328.5
강원 동해시  150166   179791.4
강원 삼척시  178133   255694.1
강원 속초시  175561   781308.3
...        ...        ...
충북 제천시  107557   223890.9
충북 증평군  125000    12774.2
충북 진천군   87500    11648.5
충북 청주시   81586   156344.0
충북 충주시   70442    86581.3

[136 rows x 2 columns]

### 30대 데이터 합치기
+ 지역별 / 숙박비율, 평균인당비용, 여행객수

In [30]:
지역별_여행객수 = pd.DataFrame(data_농촌30.groupby(['지역'])['가중치'].sum().round(1))
지역별_여행객수.columns = ['여행객수']
지역별_평균인당비용 = pd.DataFrame(data_농촌30.groupby(['지역'])['인당비용'].agg(lambda x: int(x.mean())))
지역별_평균인당비용.columns = ['평균인당비용']

In [31]:
국민여행조사_data30 = pd.concat([지역별_평균인당비용,지역별_여행객수], axis = 1)
국민여행조사_data30

        평균인당비용       여행객수
지역
강원 강릉시  176782  1694153.4
강원 고성군  165473   165988.0
강원 동해시  158909   253243.8
강원 삼척시  196487   318245.1
강원 속초시  187845  1044555.1
...        ...        ...
충북 제천시  103032   317071.0
충북 증평군   53444    43161.0
충북 진천군  111736    55272.9
충북 청주시   90787   150836.1
충북 충주시   89449   285889.6

[142 rows x 2 columns]

### 40대 데이터 합치기
+ 지역별 / 숙박비율, 평균인당비용, 여행객수

In [32]:
지역별_여행객수 = pd.DataFrame(data_농촌40.groupby(['지역'])['가중치'].sum().round(1))
지역별_여행객수.columns = ['여행객수']
지역별_평균인당비용 = pd.DataFrame(data_농촌40.groupby(['지역'])['인당비용'].agg(lambda x: int(x.mean())))
지역별_평균인당비용.columns = ['평균인당비용']

In [33]:
국민여행조사_data40 = pd.concat([지역별_평균인당비용,지역별_여행객수], axis = 1)
국민여행조사_data40

        평균인당비용       여행객수
지역
강원 강릉시  158992  1326870.6
강원 고성군  159344   327955.6
강원 동해시  103523   241207.9
강원 삼척시  129030   233982.5
강원 속초시  186583  1391753.4
...        ...        ...
충북 제천시  110530   405106.8
충북 증평군  155556    22090.4
충북 진천군   58345    76462.9
충북 청주시   97322   198730.1
충북 충주시   95560   146306.1

[140 rows x 2 columns]

### 50대 데이터 합치기
+ 지역별 / 숙박비율, 평균인당비용, 여행객수

In [34]:
지역별_여행객수 = pd.DataFrame(data_농촌50.groupby(['지역'])['가중치'].sum().round(1))
지역별_여행객수.columns = ['여행객수']
지역별_평균인당비용 = pd.DataFrame(data_농촌50.groupby(['지역'])['인당비용'].agg(lambda x: int(x.mean())))
지역별_평균인당비용.columns = ['평균인당비용']

In [35]:
국민여행조사_data50 = pd.concat([지역별_평균인당비용,지역별_여행객수], axis = 1)
국민여행조사_data50

        평균인당비용       여행객수
지역
강원 강릉시  152127  1309387.3
강원 고성군  195891   300387.5
강원 동해시  105373   255779.1
강원 삼척시  140281   275415.0
강원 속초시  174665  1135041.7
...        ...        ...
충북 제천시  119291   333818.2
충북 증평군   37500    13472.0
충북 진천군   76142    41684.1
충북 청주시   68416   196739.1
충북 충주시  105161   258946.5

[140 rows x 2 columns]

### 60대 이상 데이터 합치기
+ 지역별 / 숙박비율, 평균인당비용, 여행객수

In [36]:
지역별_여행객수 = pd.DataFrame(data_농촌60.groupby(['지역'])['가중치'].sum().round(1))
지역별_여행객수.columns = ['여행객수']
지역별_평균인당비용 = pd.DataFrame(data_농촌60.groupby(['지역'])['인당비용'].agg(lambda x: int(x.mean())))
지역별_평균인당비용.columns = ['평균인당비용']

In [37]:
국민여행조사_data60 = pd.concat([지역별_평균인당비용,지역별_여행객수], axis = 1)
국민여행조사_data60

        평균인당비용      여행객수
지역
강원 강릉시  132813  990824.1
강원 고성군   98027   96283.5
강원 동해시  125839  247533.3
강원 삼척시   97045  424285.5
강원 속초시  149587  879832.5
...        ...       ...
충북 제천시  102451  251315.6
충북 증평군   79250   18718.2
충북 진천군   57908   51242.1
충북 청주시   73915  262278.2
충북 충주시  109357  191336.0

[142 rows x 2 columns]

## 만족도/재방문의사/타인추천의도 열 생성
+ 만족도 세분화

In [38]:
df = pd.read_pickle('/content/drive/MyDrive/문화관광 빅데이터 공모전/전처리/total_data.pkl')
df = df[(df['MON_EXP_1']=='예') | (df['MON_EXP_2']=='예')].reset_index(drop=True)
df

,ID,SA1_1,SA1_2,SA1_3,SA1_4,SA1_5,MON_EXP_1,MON_EXP_2,MON_EXP_3,MON_EXP_4,...,국내_여행방문지_기타당일1,국내_여행방문지_기타당일2,국내_여행방문지_기타당일3,국내_여행방문지_기타당일4,국내_여행방문지_기타당일5,국내_여행방문지_기타당일6,국내_여행방문지_기타당일7,국내_여행방문지_기타당일8,국내_여행방문지_기타당일9,국내_여행방문지_기타당일10
0,11010550211_277569,1.0,0.0,0.0,0.0,0.0,예,아니오,아니오,아니오,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11010550211_277572,1.0,0.0,0.0,0.0,0.0,예,아니오,아니오,아니오,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11010550211_277588,1.0,0.0,0.0,0.0,0.0,예,아니오,아니오,아니오,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11010550211_277594,1.0,0.0,0.0,0.0,0.0,예,아니오,아니오,아니오,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11010550211_277596,1.0,0.0,0.0,0.0,0.0,예,아니오,아니오,아니오,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21647,3902059082A_428690,1.0,0.0,0.0,0.0,0.0,예,아니오,아니오,아니오,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21648,3902059082A_428729,1.0,0.0,0.0,0.0,0.0,예,아니오,아니오,아니오,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21649,3902059083A_580645,1.0,0.0,0.0,0.0,0.0,예,아니오,아니오,아니오,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21650,3902059083A_580647,1.0,0.0,0.0,0.0,0.0,예,아니오,아니오,아니오,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21651,3902059083A_580914,1.0,0.0,0.0,0.0,0.0,예,아니오,아니오,아니오,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
recent_data = pd.DataFrame()

In [40]:
# 만족도/재방문의사/타인추천의도 는 최근 여행으로만 조사됨
# 최근 여행 데이터프레임 생성
for idx in range(len(df)):
  if pd.isna(df['D_TRA6_1_SPOT'][idx]) == True :
    if pd.isna(df['D_TRA5_1_SPOT'][idx]) == True :
      if pd.isna(df['D_TRA4_1_SPOT'][idx]) == True :
        if pd.isna(df['D_TRA3_1_SPOT'][idx]) == True :
          if pd.isna(df['D_TRA2_1_SPOT'][idx]) == True :
            if pd.isna(df['D_TRA1_1_SPOT'][idx]) == True :
              continue
            else:
              recent_data.loc[idx,['여행형태']] = df.loc[idx,['D_TRA1_CASE']].tolist()
              recent_data.loc[idx,['지역']]  = df.loc[idx,['D_TRA1_1_SPOT']].tolist()
          else:
            recent_data.loc[idx,['여행형태']] = df.loc[idx,['D_TRA2_CASE']].tolist()
            recent_data.loc[idx,['지역']] = df.loc[idx,['D_TRA2_1_SPOT']].tolist()
        else:
          recent_data.loc[idx,['여행형태']] = df.loc[idx,['D_TRA3_CASE']].tolist()
          recent_data.loc[idx,['지역']] = df.loc[idx,['D_TRA3_1_SPOT']].tolist()
      else:
        recent_data.loc[idx,['여행형태']] = df.loc[idx,['D_TRA4_CASE']].tolist()
        recent_data.loc[idx,['지역']] = df.loc[idx,['D_TRA4_1_SPOT']].tolist()
    else:
      recent_data.loc[idx,['여행형태']] = df.loc[idx,['D_TRA5_CASE']].tolist()
      recent_data.loc[idx,['지역']] = df.loc[idx,['D_TRA5_1_SPOT']].tolist()
  else:
    recent_data.loc[idx,['여행형태']] = df.loc[idx,['D_TRA6_CASE']].tolist()
    recent_data.loc[idx,['지역']] = df.loc[idx,['D_TRA6_1_SPOT']].tolist()

recent_data

                                                    여행형태            지역
0      국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)       강원도 삼척시
1      국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)  제주특별자치도 서귀포시
2      국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)       강원도 강릉시
3      국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)       강원도 강릉시
4      국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)       강원도 춘천시
...                                                  ...           ...
21647  국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)   제주특별자치도 제주시
21648  국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)     서울특별시 구로구
21649  국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)   제주특별자치도 제주시
21650  국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)   제주특별자치도 제주시
21651  국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)   제주특별자치도 제주시

[21652 rows x 2 columns]

In [71]:
# A10A_1 : 자연경관
# A10A_2 : 문화유산
# A10A_3 : 교통
# A10A_4 : 숙박시설
# A10A_5 : 식당 및 음식
# A10A_6 : 쇼핑
# A10A_8 : 관광지 편의시설
# A10A_9 : 지역 관광종사자의 친절성
# A10A_10 : 체험프로그램
# A10A_11 : 관광지 물가
# A10A_12 : 관광지 혼잡도
# A11 : 재방문의도
# A12 : 타인추천의도
# BAGE : 연령대

In [72]:
satis_data = df.loc[:, ['A10A_1','A10A_2','A10A_3','A10A_4','A10A_5','A10A_6','A10A_8','A10A_9','A10A_10','A10A_11','A10A_12','A11','A12', 'BAGE']]
satis_data

,A10A_1,A10A_2,A10A_3,A10A_4,A10A_5,A10A_6,A10A_8,A10A_9,A10A_10,A10A_11,A10A_12,A11,A12,BAGE
0,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,④ 만족,④ 만족,④ 만족,④ 만족,경험 해보지 못함,④ 만족,④ 만족,④ 높음,④ 높음,15~19세
1,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,④ 만족,③ 보통,④ 만족,④ 만족,경험 해보지 못함,④ 만족,④ 만족,⑤ 매우 높음,⑤ 매우 높음,30대
2,⑤ 매우 만족,④ 만족,④ 만족,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,④ 만족,⑤ 매우 만족,경험 해보지 못함,④ 만족,④ 만족,⑤ 매우 높음,④ 높음,30대
3,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,경험 해보지 못함,③ 보통,④ 만족,⑤ 매우 높음,④ 높음,50대
4,⑤ 매우 만족,④ 만족,④ 만족,NaN,④ 만족,④ 만족,④ 만족,④ 만족,경험 해보지 못함,④ 만족,④ 만족,④ 높음,③ 보통,40대
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21647,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,경험 해보지 못함,⑤ 매우 만족,경험 해보지 못함,④ 만족,④ 만족,④ 만족,⑤ 매우 높음,⑤ 매우 높음,30대
21648,⑤ 매우 만족,⑤ 매우 만족,④ 만족,NaN,④ 만족,경험 해보지 못함,⑤ 매우 만족,⑤ 매우 만족,경험 해보지 못함,② 불만족,③ 보통,④ 높음,④ 높음,50대
21649,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,NaN,⑤ 매우 만족,경험 해보지 못함,⑤ 매우 만족,⑤ 매우 만족,경험 해보지 못함,경험 해보지 못함,④ 만족,⑤ 매우 높음,⑤ 매우 높음,50대
21650,④ 만족,④ 만족,④ 만족,NaN,④ 만족,경험 해보지 못함,④ 만족,③ 보통,경험 해보지 못함,③ 보통,④ 만족,④ 높음,④ 높음,50대
21651,⑤ 매우 만족,④ 만족,④ 만족,NaN,④ 만족,경험 해보지 못함,④ 만족,④ 만족,경험 해보지 못함,④ 만족,③ 보통,④ 높음,④ 높음,40대

In [73]:
satisfy_data = pd.concat([recent_data, satis_data], axis = 1)
satisfy_data

,여행형태,지역,A10A_1,A10A_2,A10A_3,A10A_4,A10A_5,A10A_6,A10A_8,A10A_9,A10A_10,A10A_11,A10A_12,A11,A12,BAGE
0,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 삼척시,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,④ 만족,④ 만족,④ 만족,④ 만족,경험 해보지 못함,④ 만족,④ 만족,④ 높음,④ 높음,15~19세
1,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",제주특별자치도 서귀포시,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,④ 만족,③ 보통,④ 만족,④ 만족,경험 해보지 못함,④ 만족,④ 만족,⑤ 매우 높음,⑤ 매우 높음,30대
2,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 강릉시,⑤ 매우 만족,④ 만족,④ 만족,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,④ 만족,⑤ 매우 만족,경험 해보지 못함,④ 만족,④ 만족,⑤ 매우 높음,④ 높음,30대
3,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 강릉시,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,경험 해보지 못함,③ 보통,④ 만족,⑤ 매우 높음,④ 높음,50대
4,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 춘천시,⑤ 매우 만족,④ 만족,④ 만족,NaN,④ 만족,④ 만족,④ 만족,④ 만족,경험 해보지 못함,④ 만족,④ 만족,④ 높음,③ 보통,40대
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21647,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",제주특별자치도 제주시,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,경험 해보지 못함,⑤ 매우 만족,경험 해보지 못함,④ 만족,④ 만족,④ 만족,⑤ 매우 높음,⑤ 매우 높음,30대
21648,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",서울특별시 구로구,⑤ 매우 만족,⑤ 매우 만족,④ 만족,NaN,④ 만족,경험 해보지 못함,⑤ 매우 만족,⑤ 매우 만족,경험 해보지 못함,② 불만족,③ 보통,④ 높음,④ 높음,50대
21649,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",제주특별자치도 제주시,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,NaN,⑤ 매우 만족,경험 해보지 못함,⑤ 매우 만족,⑤ 매우 만족,경험 해보지 못함,경험 해보지 못함,④ 만족,⑤ 매우 높음,⑤ 매우 높음,50대
21650,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",제주특별자치도 제주시,④ 만족,④ 만족,④ 만족,NaN,④ 만족,경험 해보지 못함,④ 만족,③ 보통,경험 해보지 못함,③ 보통,④ 만족,④ 높음,④ 높음,50대
21651,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",제주특별자치도 제주시,⑤ 매우 만족,④ 만족,④ 만족,NaN,④ 만족,경험 해보지 못함,④ 만족,④ 만족,경험 해보지 못함,④ 만족,③ 보통,④ 높음,④ 높음,40대

In [74]:
# 관광 휴양 여행 아닌 행 제거
satisfy_data = satisfy_data[(satisfy_data['여행형태'] == '국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)') | (satisfy_data['여행형태'] == '국내 가족/친지/친구 방문 여행 - 관광/휴양 활동 포함') |  (satisfy_data['여행형태'] == '국내 출장/업무 여행 - 관광/휴양 활동 포함') ].reset_index(drop=True)
satisfy_data

,여행형태,지역,A10A_1,A10A_2,A10A_3,A10A_4,A10A_5,A10A_6,A10A_8,A10A_9,A10A_10,A10A_11,A10A_12,A11,A12,BAGE
0,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 삼척시,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,④ 만족,④ 만족,④ 만족,④ 만족,경험 해보지 못함,④ 만족,④ 만족,④ 높음,④ 높음,15~19세
1,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",제주특별자치도 서귀포시,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,④ 만족,③ 보통,④ 만족,④ 만족,경험 해보지 못함,④ 만족,④ 만족,⑤ 매우 높음,⑤ 매우 높음,30대
2,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 강릉시,⑤ 매우 만족,④ 만족,④ 만족,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,④ 만족,⑤ 매우 만족,경험 해보지 못함,④ 만족,④ 만족,⑤ 매우 높음,④ 높음,30대
3,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 강릉시,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,경험 해보지 못함,③ 보통,④ 만족,⑤ 매우 높음,④ 높음,50대
4,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",강원도 춘천시,⑤ 매우 만족,④ 만족,④ 만족,NaN,④ 만족,④ 만족,④ 만족,④ 만족,경험 해보지 못함,④ 만족,④ 만족,④ 높음,③ 보통,40대
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21294,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",제주특별자치도 제주시,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,경험 해보지 못함,⑤ 매우 만족,경험 해보지 못함,④ 만족,④ 만족,④ 만족,⑤ 매우 높음,⑤ 매우 높음,30대
21295,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",서울특별시 구로구,⑤ 매우 만족,⑤ 매우 만족,④ 만족,NaN,④ 만족,경험 해보지 못함,⑤ 매우 만족,⑤ 매우 만족,경험 해보지 못함,② 불만족,③ 보통,④ 높음,④ 높음,50대
21296,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",제주특별자치도 제주시,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,NaN,⑤ 매우 만족,경험 해보지 못함,⑤ 매우 만족,⑤ 매우 만족,경험 해보지 못함,경험 해보지 못함,④ 만족,⑤ 매우 높음,⑤ 매우 높음,50대
21297,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",제주특별자치도 제주시,④ 만족,④ 만족,④ 만족,NaN,④ 만족,경험 해보지 못함,④ 만족,③ 보통,경험 해보지 못함,③ 보통,④ 만족,④ 높음,④ 높음,50대
21298,"국내 관광/휴양 여행(가족/친지/친구 방문, 출장/업무 활동 없는 단순 관광/휴양 여행)",제주특별자치도 제주시,⑤ 매우 만족,④ 만족,④ 만족,NaN,④ 만족,경험 해보지 못함,④ 만족,④ 만족,경험 해보지 못함,④ 만족,③ 보통,④ 높음,④ 높음,40대

In [75]:
# 여행 형태 열 제거
data = satisfy_data.iloc[:,1:]
data.columns = ['지역','자연경관','문화유산','교통','숙박시설','식당및음식','쇼핑','관광지편의시설','관광종사자의친절성','체험프로그램','관광지물가','관광지혼잡도', '재방문의도','타인추천의도', '연령대']
data

,지역,자연경관,문화유산,교통,숙박시설,식당및음식,쇼핑,관광지편의시설,관광종사자의친절성,체험프로그램,관광지물가,관광지혼잡도,재방문의도,타인추천의도,연령대
0,강원도 삼척시,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,④ 만족,④ 만족,④ 만족,④ 만족,경험 해보지 못함,④ 만족,④ 만족,④ 높음,④ 높음,15~19세
1,제주특별자치도 서귀포시,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,④ 만족,③ 보통,④ 만족,④ 만족,경험 해보지 못함,④ 만족,④ 만족,⑤ 매우 높음,⑤ 매우 높음,30대
2,강원도 강릉시,⑤ 매우 만족,④ 만족,④ 만족,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,④ 만족,⑤ 매우 만족,경험 해보지 못함,④ 만족,④ 만족,⑤ 매우 높음,④ 높음,30대
3,강원도 강릉시,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,경험 해보지 못함,③ 보통,④ 만족,⑤ 매우 높음,④ 높음,50대
4,강원도 춘천시,⑤ 매우 만족,④ 만족,④ 만족,NaN,④ 만족,④ 만족,④ 만족,④ 만족,경험 해보지 못함,④ 만족,④ 만족,④ 높음,③ 보통,40대
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21294,제주특별자치도 제주시,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,경험 해보지 못함,⑤ 매우 만족,경험 해보지 못함,④ 만족,④ 만족,④ 만족,⑤ 매우 높음,⑤ 매우 높음,30대
21295,서울특별시 구로구,⑤ 매우 만족,⑤ 매우 만족,④ 만족,NaN,④ 만족,경험 해보지 못함,⑤ 매우 만족,⑤ 매우 만족,경험 해보지 못함,② 불만족,③ 보통,④ 높음,④ 높음,50대
21296,제주특별자치도 제주시,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,NaN,⑤ 매우 만족,경험 해보지 못함,⑤ 매우 만족,⑤ 매우 만족,경험 해보지 못함,경험 해보지 못함,④ 만족,⑤ 매우 높음,⑤ 매우 높음,50대
21297,제주특별자치도 제주시,④ 만족,④ 만족,④ 만족,NaN,④ 만족,경험 해보지 못함,④ 만족,③ 보통,경험 해보지 못함,③ 보통,④ 만족,④ 높음,④ 높음,50대
21298,제주특별자치도 제주시,⑤ 매우 만족,④ 만족,④ 만족,NaN,④ 만족,경험 해보지 못함,④ 만족,④ 만족,경험 해보지 못함,④ 만족,③ 보통,④ 높음,④ 높음,40대

In [76]:
for idx in range(len(data['지역'])):
  if len(data['지역'][idx].split(" ")[0]) != 4:
    data['지역'][idx] = data['지역'][idx].split(" ")[0][0:2] + " " + data['지역'][idx].split(" ")[1]
  #elif len(data['지역'][idx].split(" ")[0]) == 4:
  else:
    data['지역'][idx] = data['지역'][idx].split(" ")[0][0] + data['지역'][idx].split(" ")[0][2] + " " + data['지역'][idx].split(" ")[1]

<ipython-input-76-c4cd9cea7ae9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['지역'][idx] = data['지역'][idx].split(" ")[0][0:2] + " " + data['지역'][idx].split(" ")[1]
<ipython-input-76-c4cd9cea7ae9>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['지역'][idx] = data['지역'][idx].split(" ")[0][0] + data['지역'][idx].split(" ")[0][2] + " " + data['지역'][idx].split(" ")[1]

In [77]:
data_농촌 = data[data['지역'].isin(시군구_농촌)].reset_index(drop=True)
data_농촌

,지역,자연경관,문화유산,교통,숙박시설,식당및음식,쇼핑,관광지편의시설,관광종사자의친절성,체험프로그램,관광지물가,관광지혼잡도,재방문의도,타인추천의도,연령대
0,강원 삼척시,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,④ 만족,④ 만족,④ 만족,④ 만족,경험 해보지 못함,④ 만족,④ 만족,④ 높음,④ 높음,15~19세
1,제주 서귀포시,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,④ 만족,③ 보통,④ 만족,④ 만족,경험 해보지 못함,④ 만족,④ 만족,⑤ 매우 높음,⑤ 매우 높음,30대
2,강원 강릉시,⑤ 매우 만족,④ 만족,④ 만족,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,④ 만족,⑤ 매우 만족,경험 해보지 못함,④ 만족,④ 만족,⑤ 매우 높음,④ 높음,30대
3,강원 강릉시,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,⑤ 매우 만족,④ 만족,④ 만족,④ 만족,경험 해보지 못함,③ 보통,④ 만족,⑤ 매우 높음,④ 높음,50대
4,강원 춘천시,⑤ 매우 만족,④ 만족,④ 만족,NaN,④ 만족,④ 만족,④ 만족,④ 만족,경험 해보지 못함,④ 만족,④ 만족,④ 높음,③ 보통,40대
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17178,경북 경주시,③ 보통,④ 만족,⑤ 매우 만족,④ 만족,⑤ 매우 만족,⑤ 매우 만족,④ 만족,③ 보통,경험 해보지 못함,④ 만족,④ 만족,④ 높음,④ 높음,50대
17179,제주 제주시,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,경험 해보지 못함,⑤ 매우 만족,경험 해보지 못함,④ 만족,④ 만족,④ 만족,⑤ 매우 높음,⑤ 매우 높음,30대
17180,제주 제주시,⑤ 매우 만족,⑤ 매우 만족,⑤ 매우 만족,NaN,⑤ 매우 만족,경험 해보지 못함,⑤ 매우 만족,⑤ 매우 만족,경험 해보지 못함,경험 해보지 못함,④ 만족,⑤ 매우 높음,⑤ 매우 높음,50대
17181,제주 제주시,④ 만족,④ 만족,④ 만족,NaN,④ 만족,경험 해보지 못함,④ 만족,③ 보통,경험 해보지 못함,③ 보통,④ 만족,④ 높음,④ 높음,50대
17182,제주 제주시,⑤ 매우 만족,④ 만족,④ 만족,NaN,④ 만족,경험 해보지 못함,④ 만족,④ 만족,경험 해보지 못함,④ 만족,③ 보통,④ 높음,④ 높음,40대

### 카테고리 변수를 숫자 형태로 변환

In [78]:
# 데이터를 문자열 형태로 바꿈
for col in data_농촌.columns[1:-1]:
  data_농촌[col] = data_농촌[col].astype('str')

In [80]:
for col in data_농촌.columns[1:-1]:
  print(col, data_농촌[col].unique())

자연경관 ['⑤ 매우 만족' '④ 만족' '경험 해보지 못함' '③ 보통' '① 매우 불만족' '② 불만족' 'nan']
문화유산 ['④ 만족' '경험 해보지 못함' '⑤ 매우 만족' '③ 보통' '② 불만족' 'nan']
교통 ['④ 만족' '⑤ 매우 만족' '③ 보통' '경험 해보지 못함' '② 불만족' '① 매우 불만족' 'nan']
숙박시설 ['④ 만족' '⑤ 매우 만족' 'nan' '③ 보통' '② 불만족']
식당및음식 ['④ 만족' '⑤ 매우 만족' '경험 해보지 못함' '③ 보통' '② 불만족' '① 매우 불만족' 'nan']
쇼핑 ['④ 만족' '③ 보통' '⑤ 매우 만족' '경험 해보지 못함' '② 불만족' 'nan']
관광지편의시설 ['④ 만족' '⑤ 매우 만족' '경험 해보지 못함' '③ 보통' '② 불만족' '① 매우 불만족' 'nan']
관광종사자의친절성 ['④ 만족' '⑤ 매우 만족' '③ 보통' '경험 해보지 못함' '② 불만족' '① 매우 불만족' 'nan']
체험프로그램 ['경험 해보지 못함' '⑤ 매우 만족' '④ 만족' '③ 보통' '② 불만족' 'nan']
관광지물가 ['④ 만족' '③ 보통' '⑤ 매우 만족' '경험 해보지 못함' '② 불만족' '① 매우 불만족' 'nan']
관광지혼잡도 ['④ 만족' '③ 보통' '경험 해보지 못함' '⑤ 매우 만족' '② 불만족' '① 매우 불만족' 'nan']
재방문의도 ['④ 높음' '⑤ 매우 높음' '③ 보통' '② 낮음' 'nan']
타인추천의도 ['④ 높음' '⑤ 매우 높음' '③ 보통' '② 낮음' 'nan' '① 매우 낮음']

In [81]:
for col in data_농촌.columns[1:12]:
  for idx in range(len(data_농촌.index)):
    if data_농촌[col][idx] == '⑤ 매우 만족':
      data_농촌[col][idx] = 5
    elif data_농촌[col][idx] == '④ 만족' :
      data_농촌[col][idx] = 4
    elif data_농촌[col][idx] == '③ 보통' :
      data_농촌[col][idx] = 3
    elif data_농촌[col][idx] == '② 불만족' :
      data_농촌[col][idx] = 2
    elif data_농촌[col][idx] == '① 매우 불만족' :
      data_농촌[col][idx] = 1
    else:
      data_농촌[col][idx] = np.nan

<ipython-input-81-f83807ea5808>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_농촌[col][idx] = 5
<ipython-input-81-f83807ea5808>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_농촌[col][idx] = 4
<ipython-input-81-f83807ea5808>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_농촌[col][idx] = np.nan
<ipython-input-81-f83807ea5808>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_농촌[col][idx] = 3
<ipython-input-81-f83807ea5808>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_농촌[col][idx] = 1
<ipython-input-81-f83807ea5808>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_농촌[col][idx] = 2

In [83]:
for col in data_농촌.columns[12:-1]:
  for idx in range(len(data_농촌.index)):
    if data_농촌[col][idx] == '⑤ 매우 높음':
      data_농촌[col][idx] = 5
    elif data_농촌[col][idx] == '④ 높음' :
      data_농촌[col][idx] = 4
    elif data_농촌[col][idx] == '③ 보통' :
      data_농촌[col][idx] = 3
    elif data_농촌[col][idx] == '② 낮음' :
      data_농촌[col][idx] = 2
    elif data_농촌[col][idx] == '① 매우 낮음' :
      data_농촌[col][idx] = 1
    else:
      data_농촌[col][idx] = np.nan

<ipython-input-83-28ab0f412987>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_농촌[col][idx] = 4
<ipython-input-83-28ab0f412987>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_농촌[col][idx] = 5
<ipython-input-83-28ab0f412987>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_농촌[col][idx] = 3
<ipython-input-83-28ab0f412987>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_농촌[col][idx] = 2
<ipython-input-83-28ab0f412987>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_농촌[col][idx] = np.nan
<ipython-input-83-28ab0f412987>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_농촌[col][idx] = 1

In [84]:
for col in data_농촌.columns[1:-1]:
  print(col, data_농촌[col].unique())

자연경관 [5 4 nan 3 1 2]
문화유산 [4 nan 5 3 2]
교통 [4 5 3 nan 2 1]
숙박시설 [4 5 nan 3 2]
식당및음식 [4 5 nan 3 2 1]
쇼핑 [4 3 5 nan 2]
관광지편의시설 [4 5 nan 3 2 1]
관광종사자의친절성 [4 5 3 nan 2 1]
체험프로그램 [nan 5 4 3 2]
관광지물가 [4 3 5 nan 2 1]
관광지혼잡도 [4 3 nan 5 2 1]
재방문의도 [4 5 3 2 nan]
타인추천의도 [4 5 3 2 nan 1]

In [85]:
data_농촌

,지역,자연경관,문화유산,교통,숙박시설,식당및음식,쇼핑,관광지편의시설,관광종사자의친절성,체험프로그램,관광지물가,관광지혼잡도,재방문의도,타인추천의도,연령대
0,강원 삼척시,5,4,4,4,4,4,4,4,NaN,4,4,4,4,15~19세
1,제주 서귀포시,5,4,4,4,4,3,4,4,NaN,4,4,5,5,30대
2,강원 강릉시,5,4,4,5,5,5,4,5,NaN,4,4,5,4,30대
3,강원 강릉시,5,4,4,4,5,4,4,4,NaN,3,4,5,4,50대
4,강원 춘천시,5,4,4,NaN,4,4,4,4,NaN,4,4,4,3,40대
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17178,경북 경주시,3,4,5,4,5,5,4,3,NaN,4,4,4,4,50대
17179,제주 제주시,5,5,5,5,5,NaN,5,NaN,4,4,4,5,5,30대
17180,제주 제주시,5,5,5,NaN,5,NaN,5,5,NaN,NaN,4,5,5,50대
17181,제주 제주시,4,4,4,NaN,4,NaN,4,3,NaN,3,4,4,4,50대
17182,제주 제주시,5,4,4,NaN,4,NaN,4,4,NaN,4,3,4,4,40대

### 연령대별로 분리

In [86]:
data_농촌20 = data_농촌[data_농촌['연령대'] == '  20대'].reset_index(drop = True)
data_농촌30 = data_농촌[data_농촌['연령대'] == '  30대'].reset_index(drop = True)
data_농촌40 = data_농촌[data_농촌['연령대'] == '  40대'].reset_index(drop = True)
data_농촌50 = data_농촌[data_농촌['연령대'] == '  50대'].reset_index(drop = True)
data_농촌60 = data_농촌[(data_농촌['연령대'] == '  60대') | (data_농촌['연령대'] == '  70세이상')].reset_index(drop = True)

In [87]:
data_농촌20

,지역,자연경관,문화유산,교통,숙박시설,식당및음식,쇼핑,관광지편의시설,관광종사자의친절성,체험프로그램,관광지물가,관광지혼잡도,재방문의도,타인추천의도,연령대
0,전북 전주시,4,5,5,NaN,5,NaN,5,4,NaN,5,4,4,3,20대
1,강원 철원군,5,4,5,NaN,4,NaN,4,4,NaN,4,4,4,4,20대
2,경기 여주시,5,5,5,NaN,5,NaN,5,5,NaN,5,5,4,4,20대
3,경기 가평군,5,NaN,4,NaN,4,NaN,4,4,NaN,3,4,4,4,20대
4,강원 강릉시,4,NaN,4,3,4,NaN,4,4,4,4,5,3,3,20대
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2765,제주 제주시,5,NaN,4,NaN,4,NaN,4,4,NaN,2,2,3,4,20대
2766,전북 전주시,4,4,4,NaN,5,NaN,4,4,NaN,2,4,3,4,20대
2767,제주 제주시,5,NaN,5,NaN,5,NaN,5,5,NaN,5,5,4,4,20대
2768,제주 제주시,NaN,NaN,4,NaN,5,NaN,3,NaN,NaN,NaN,NaN,5,4,20대
2769,제주 제주시,4,NaN,4,NaN,3,4,3,3,4,4,4,4,4,20대

### 지역별로 각 컬럼별 평균 구하기

In [88]:
# 컬럼별 값을 더하고 na를 제외한 값의 개수로 나눠 평균을 구했음
def NaMean(x):
  return x.sum() / x.count()

In [89]:
# 컬럼별로 위 함수 적용
지역별_만족도20 = data_농촌20.groupby('지역')[data_농촌20.columns[1:-1]].agg(NaMean)
지역별_만족도20 = round(지역별_만족도20,2)
지역별_만족도20

<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()

,자연경관,문화유산,교통,숙박시설,식당및음식,쇼핑,관광지편의시설,관광종사자의친절성,체험프로그램,관광지물가,관광지혼잡도,재방문의도,타인추천의도
지역,,,,,,,,,,,,,
강원 강릉시,4.58,4.18,4.15,4.25,4.25,4.21,4.11,4.24,4.21,3.85,3.98,4.09,4.03
강원 고성군,4.89,4.14,4.56,4.17,4.44,4.00,4.38,4.14,4.00,3.75,4.38,4.11,4.00
강원 동해시,4.47,4.08,3.87,4.22,4.13,3.75,4.07,3.93,3.50,3.67,4.27,4.07,3.93
강원 삼척시,4.75,4.42,4.40,4.36,4.30,4.15,4.20,4.15,4.23,3.80,4.05,4.25,4.05
강원 속초시,4.46,4.27,4.20,4.31,4.31,4.24,4.10,4.26,4.20,3.85,3.98,4.08,4.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
충북 제천시,4.67,4.33,4.17,4.56,3.94,4.33,4.17,4.28,4.25,4.11,3.94,3.94,4.06
충북 증평군,4.00,5.00,4.00,4.00,4.00,5.00,4.00,5.00,NaN,4.00,4.00,4.00,4.00
충북 진천군,4.50,4.00,4.00,4.00,4.00,5.00,4.00,4.50,4.00,5.00,4.00,4.00,4.00
충북 청주시,4.26,3.94,4.26,4.00,4.13,4.17,4.22,4.04,4.29,3.87,4.04,3.91,3.91
충북 충주시,4.50,4.00,4.50,5.00,3.92,4.33,4.25,4.17,4.29,4.00,4.17,4.08,4.08

In [90]:
지역별_만족도30 = data_농촌30.groupby('지역')[data_농촌30.columns[1:-1]].agg(NaMean)
지역별_만족도30 = round(지역별_만족도30,2)
지역별_만족도40 = data_농촌40.groupby('지역')[data_농촌40.columns[1:-1]].agg(NaMean)
지역별_만족도40 = round(지역별_만족도40,2)
지역별_만족도50 = data_농촌50.groupby('지역')[data_농촌50.columns[1:-1]].agg(NaMean)
지역별_만족도50 = round(지역별_만족도50,2)
지역별_만족도60 = data_농촌60.groupby('지역')[data_농촌60.columns[1:-1]].agg(NaMean)
지역별_만족도60 = round(지역별_만족도60,2)

<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()
<ipython-input-88-7d802b6befb0>:3: RuntimeWarning: invalid value encountered in long_scalars
  return x.sum() / x.count()

In [91]:
지역별_만족도50

,자연경관,문화유산,교통,숙박시설,식당및음식,쇼핑,관광지편의시설,관광종사자의친절성,체험프로그램,관광지물가,관광지혼잡도,재방문의도,타인추천의도
지역,,,,,,,,,,,,,
강원 강릉시,4.53,4.31,4.12,4.32,4.30,4.14,4.28,4.25,4.15,3.84,4.08,4.12,4.01
강원 고성군,4.60,4.12,4.30,4.40,4.35,4.18,4.25,4.22,4.18,3.70,3.90,4.15,4.15
강원 동해시,4.64,4.20,4.21,4.30,4.32,4.15,4.28,4.20,4.13,3.92,4.24,4.24,3.96
강원 삼척시,4.69,4.40,4.34,4.57,4.00,4.00,4.21,4.21,4.19,3.83,4.00,4.14,4.00
강원 속초시,4.48,4.20,4.11,4.37,4.14,4.21,4.13,4.11,4.23,3.82,4.03,4.08,4.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
충북 제천시,4.54,4.43,4.20,4.45,4.17,4.29,4.38,4.20,4.25,4.03,4.29,4.06,3.97
충북 증평군,4.50,5.00,4.00,NaN,4.00,4.00,4.50,4.50,NaN,3.50,4.00,4.00,4.00
충북 진천군,4.50,4.20,4.67,4.00,4.83,4.20,4.33,4.80,5.00,4.17,4.17,4.50,4.50
충북 청주시,4.50,4.17,4.05,3.50,4.32,3.88,3.95,4.29,4.50,3.85,3.90,3.95,3.77
충북 충주시,4.39,4.43,4.24,4.00,4.22,4.00,4.25,4.31,4.31,3.97,4.06,4.09,4.09

## 데이터프레임 합치기

In [92]:
국민여행조사_data20

        평균인당비용       여행객수
지역
강원 강릉시  181012  1791143.5
강원 고성군  185983   116328.5
강원 동해시  150166   179791.4
강원 삼척시  178133   255694.1
강원 속초시  175561   781308.3
...        ...        ...
충북 제천시  107557   223890.9
충북 증평군  125000    12774.2
충북 진천군   87500    11648.5
충북 청주시   81586   156344.0
충북 충주시   70442    86581.3

[136 rows x 2 columns]

In [93]:
지역별_만족도20

,자연경관,문화유산,교통,숙박시설,식당및음식,쇼핑,관광지편의시설,관광종사자의친절성,체험프로그램,관광지물가,관광지혼잡도,재방문의도,타인추천의도
지역,,,,,,,,,,,,,
강원 강릉시,4.58,4.18,4.15,4.25,4.25,4.21,4.11,4.24,4.21,3.85,3.98,4.09,4.03
강원 고성군,4.89,4.14,4.56,4.17,4.44,4.00,4.38,4.14,4.00,3.75,4.38,4.11,4.00
강원 동해시,4.47,4.08,3.87,4.22,4.13,3.75,4.07,3.93,3.50,3.67,4.27,4.07,3.93
강원 삼척시,4.75,4.42,4.40,4.36,4.30,4.15,4.20,4.15,4.23,3.80,4.05,4.25,4.05
강원 속초시,4.46,4.27,4.20,4.31,4.31,4.24,4.10,4.26,4.20,3.85,3.98,4.08,4.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
충북 제천시,4.67,4.33,4.17,4.56,3.94,4.33,4.17,4.28,4.25,4.11,3.94,3.94,4.06
충북 증평군,4.00,5.00,4.00,4.00,4.00,5.00,4.00,5.00,NaN,4.00,4.00,4.00,4.00
충북 진천군,4.50,4.00,4.00,4.00,4.00,5.00,4.00,4.50,4.00,5.00,4.00,4.00,4.00
충북 청주시,4.26,3.94,4.26,4.00,4.13,4.17,4.22,4.04,4.29,3.87,4.04,3.91,3.91
충북 충주시,4.50,4.00,4.50,5.00,3.92,4.33,4.25,4.17,4.29,4.00,4.17,4.08,4.08

In [94]:
data20 = pd.merge(지역별_만족도20 , 국민여행조사_data20, how = 'left', left_on = '지역', right_on = '지역')
data30 = pd.merge(지역별_만족도30 , 국민여행조사_data30, how = 'left', left_on = '지역', right_on = '지역')
data40 = pd.merge(지역별_만족도40 , 국민여행조사_data40, how = 'left', left_on = '지역', right_on = '지역')
data50 = pd.merge(지역별_만족도50 , 국민여행조사_data50, how = 'left', left_on = '지역', right_on = '지역')
data60 = pd.merge(지역별_만족도60 , 국민여행조사_data60, how = 'left', left_on = '지역', right_on = '지역')

In [95]:
data30

,자연경관,문화유산,교통,숙박시설,식당및음식,쇼핑,관광지편의시설,관광종사자의친절성,체험프로그램,관광지물가,관광지혼잡도,재방문의도,타인추천의도,평균인당비용,여행객수
지역,,,,,,,,,,,,,,,
강원 강릉시,4.59,4.17,4.27,4.24,4.25,4.18,4.14,4.13,4.26,3.74,3.95,4.16,4.02,176782,1694153.4
강원 고성군,4.40,4.22,4.40,3.91,4.00,3.90,4.07,4.07,3.50,3.79,3.85,4.13,4.00,165473,165988.0
강원 동해시,4.48,4.25,4.09,4.42,4.04,4.09,4.09,3.95,3.75,3.55,3.73,3.91,3.87,158909,253243.8
강원 삼척시,4.60,4.33,4.10,4.33,4.35,4.00,4.30,4.16,4.27,3.90,4.10,4.15,4.05,196487,318245.1
강원 속초시,4.50,4.18,4.22,4.38,4.36,4.02,4.22,4.13,4.23,3.94,4.05,4.04,4.05,187845,1044555.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
충북 제천시,4.62,4.40,4.12,4.50,4.19,4.06,4.17,4.32,4.27,4.08,4.00,4.23,4.12,103032,317071.0
충북 증평군,4.20,4.75,4.33,4.00,4.17,3.75,4.40,4.40,4.00,3.60,4.33,4.00,4.00,53444,43161.0
충북 진천군,4.00,4.00,4.00,NaN,3.25,3.75,4.25,3.75,4.00,3.75,4.00,4.00,4.00,111736,55272.9
충북 청주시,4.15,3.87,4.05,5.00,4.05,4.20,4.00,4.15,3.60,3.55,4.05,3.90,3.85,90787,150836.1
충북 충주시,4.50,4.29,4.18,4.17,4.27,4.18,4.05,4.33,4.40,4.09,4.23,4.05,3.95,89449,285889.6

## 농촌관광지 데이터랑 국민여행조사 데이터 합치기

In [96]:
df_20대 = pd.read_pickle('/content/drive/MyDrive/문화관광 빅데이터 공모전/대참사/df_20대.pkl')
df_30대 = pd.read_pickle('/content/drive/MyDrive/문화관광 빅데이터 공모전/대참사/df_30대.pkl')
df_40대 = pd.read_pickle('/content/drive/MyDrive/문화관광 빅데이터 공모전/대참사/df_40대.pkl')
df_50대 = pd.read_pickle('/content/drive/MyDrive/문화관광 빅데이터 공모전/대참사/df_50대.pkl')
df_60대 = pd.read_pickle('/content/drive/MyDrive/문화관광 빅데이터 공모전/대참사/df_60대.pkl')

In [97]:
df_20대

,관광지역_시군구,농촌마을_수,농촌마을_체험_평균등급,농촌마을_교육_평균등급,농촌마을_숙박_평균등급,농촌마을_음식_평균등급,농촌마을_으뜸촌_선정수,카드_총_이용금액,카드_총_이용건수,카드_관광쇼핑_이용건수,카드_교통_이용건수,카드_숙박_이용건수,카드_여행사_이용건수,카드_체험_이용건수,카드_주말_이용건수,카드_평일_이용건수
0,강원 강릉시,12,1.417,2.333,1.500,1.556,0,1.851607e+10,404279.0,64693.0,2051.0,282069.0,46.0,55420.0,175008.0,229271.0
1,강원 고성군,2,2.000,3.000,2.000,2.000,0,4.580152e+09,100803.0,2757.0,9.0,84623.0,13274.0,140.0,42498.0,58305.0
2,강원 동해시,2,2.000,2.000,1.000,1.824,0,1.566479e+09,33655.0,1109.0,2014.0,30028.0,11.0,493.0,12754.0,20901.0
3,강원 삼척시,9,1.750,2.000,1.714,2.000,0,3.256333e+09,52380.0,913.0,338.0,48535.0,519.0,2075.0,19787.0,32593.0
4,강원 속초시,1,2.000,1.996,1.860,1.824,0,8.113997e+09,207626.0,9115.0,31244.0,81047.0,647.0,85573.0,89948.0,117678.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,충북 제천시,7,1.714,3.000,1.833,1.750,0,5.381105e+09,110959.0,2589.0,85.0,25301.0,20.0,82964.0,47514.0,63445.0
139,충북 증평군,4,2.000,2.000,2.000,1.667,0,4.814331e+08,17794.0,20.0,50.0,5166.0,NaN,12558.0,10383.0,7411.0
140,충북 진천군,2,1.500,1.996,1.500,2.000,0,7.629434e+08,14981.0,20.0,31.0,14808.0,NaN,122.0,5004.0,9977.0
141,충북 청주시,5,2.250,2.000,2.600,3.000,0,1.224662e+10,263289.0,1017.0,2368.0,229123.0,168.0,30613.0,117301.0,145988.0
142,충북 충주시,6,2.000,2.000,2.250,2.500,0,2.579826e+09,67459.0,100.0,876.0,42301.0,NaN,24182.0,34132.0,33327.0

In [98]:
data20

,자연경관,문화유산,교통,숙박시설,식당및음식,쇼핑,관광지편의시설,관광종사자의친절성,체험프로그램,관광지물가,관광지혼잡도,재방문의도,타인추천의도,평균인당비용,여행객수
지역,,,,,,,,,,,,,,,
강원 강릉시,4.58,4.18,4.15,4.25,4.25,4.21,4.11,4.24,4.21,3.85,3.98,4.09,4.03,181012,1791143.5
강원 고성군,4.89,4.14,4.56,4.17,4.44,4.00,4.38,4.14,4.00,3.75,4.38,4.11,4.00,185983,116328.5
강원 동해시,4.47,4.08,3.87,4.22,4.13,3.75,4.07,3.93,3.50,3.67,4.27,4.07,3.93,150166,179791.4
강원 삼척시,4.75,4.42,4.40,4.36,4.30,4.15,4.20,4.15,4.23,3.80,4.05,4.25,4.05,178133,255694.1
강원 속초시,4.46,4.27,4.20,4.31,4.31,4.24,4.10,4.26,4.20,3.85,3.98,4.08,4.03,175561,781308.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
충북 제천시,4.67,4.33,4.17,4.56,3.94,4.33,4.17,4.28,4.25,4.11,3.94,3.94,4.06,107557,223890.9
충북 증평군,4.00,5.00,4.00,4.00,4.00,5.00,4.00,5.00,NaN,4.00,4.00,4.00,4.00,125000,12774.2
충북 진천군,4.50,4.00,4.00,4.00,4.00,5.00,4.00,4.50,4.00,5.00,4.00,4.00,4.00,87500,11648.5
충북 청주시,4.26,3.94,4.26,4.00,4.13,4.17,4.22,4.04,4.29,3.87,4.04,3.91,3.91,81586,156344.0
충북 충주시,4.50,4.00,4.50,5.00,3.92,4.33,4.25,4.17,4.29,4.00,4.17,4.08,4.08,70442,86581.3

In [99]:
최종20 = pd.merge(df_20대, data20, how = 'left', left_on = '관광지역_시군구', right_on = '지역')
최종30 = pd.merge(df_30대, data30, how = 'left', left_on = '관광지역_시군구', right_on = '지역')
최종40 = pd.merge(df_40대, data40, how = 'left', left_on = '관광지역_시군구', right_on = '지역')
최종50 = pd.merge(df_50대, data50, how = 'left', left_on = '관광지역_시군구', right_on = '지역')
최종60 = pd.merge(df_60대, data60, how = 'left', left_on = '관광지역_시군구', right_on = '지역')

In [100]:
최종20

,관광지역_시군구,농촌마을_수,농촌마을_체험_평균등급,농촌마을_교육_평균등급,농촌마을_숙박_평균등급,농촌마을_음식_평균등급,농촌마을_으뜸촌_선정수,카드_총_이용금액,카드_총_이용건수,카드_관광쇼핑_이용건수,...,쇼핑,관광지편의시설,관광종사자의친절성,체험프로그램,관광지물가,관광지혼잡도,재방문의도,타인추천의도,평균인당비용,여행객수
0,강원 강릉시,12,1.417,2.333,1.500,1.556,0,1.851607e+10,404279.0,64693.0,...,4.21,4.11,4.24,4.21,3.85,3.98,4.09,4.03,181012.0,1791143.5
1,강원 고성군,2,2.000,3.000,2.000,2.000,0,4.580152e+09,100803.0,2757.0,...,4.00,4.38,4.14,4.00,3.75,4.38,4.11,4.00,185983.0,116328.5
2,강원 동해시,2,2.000,2.000,1.000,1.824,0,1.566479e+09,33655.0,1109.0,...,3.75,4.07,3.93,3.50,3.67,4.27,4.07,3.93,150166.0,179791.4
3,강원 삼척시,9,1.750,2.000,1.714,2.000,0,3.256333e+09,52380.0,913.0,...,4.15,4.20,4.15,4.23,3.80,4.05,4.25,4.05,178133.0,255694.1
4,강원 속초시,1,2.000,1.996,1.860,1.824,0,8.113997e+09,207626.0,9115.0,...,4.24,4.10,4.26,4.20,3.85,3.98,4.08,4.03,175561.0,781308.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,충북 제천시,7,1.714,3.000,1.833,1.750,0,5.381105e+09,110959.0,2589.0,...,4.33,4.17,4.28,4.25,4.11,3.94,3.94,4.06,107557.0,223890.9
139,충북 증평군,4,2.000,2.000,2.000,1.667,0,4.814331e+08,17794.0,20.0,...,5.00,4.00,5.00,NaN,4.00,4.00,4.00,4.00,125000.0,12774.2
140,충북 진천군,2,1.500,1.996,1.500,2.000,0,7.629434e+08,14981.0,20.0,...,5.00,4.00,4.50,4.00,5.00,4.00,4.00,4.00,87500.0,11648.5
141,충북 청주시,5,2.250,2.000,2.600,3.000,0,1.224662e+10,263289.0,1017.0,...,4.17,4.22,4.04,4.29,3.87,4.04,3.91,3.91,81586.0,156344.0
142,충북 충주시,6,2.000,2.000,2.250,2.500,0,2.579826e+09,67459.0,100.0,...,4.33,4.25,4.17,4.29,4.00,4.17,4.08,4.08,70442.0,86581.3

In [101]:
최종20.to_pickle('/content/drive/MyDrive/문화관광 빅데이터 공모전/대참사/최종20대.pkl')
최종30.to_pickle('/content/drive/MyDrive/문화관광 빅데이터 공모전/대참사/최종30대.pkl')
최종40.to_pickle('/content/drive/MyDrive/문화관광 빅데이터 공모전/대참사/최종40대.pkl')
최종50.to_pickle('/content/drive/MyDrive/문화관광 빅데이터 공모전/대참사/최종50대.pkl')
최종60.to_pickle('/content/drive/MyDrive/문화관광 빅데이터 공모전/대참사/최종60대.pkl')